body {
    height: 100%;
    background: #eee;
    font-size: 16px;
    line-height: 20px;
    font-family: sans-serif;
}

header {
    width: 100%;
    color: #fff;
    background: #f94931;
    background: -moz-linear-gradient(left, #f94931 0%, #f7a72e 50%, #f4e730 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f94931), color-stop(50%,#f7a72e), color-stop(100%,#f4e730)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #f94931 0%,#f7a72e 50%,#f4e730 100%);
    background: -o-linear-gradient(left, #f94931 0%,#f7a72e 50%,#f4e730 100%);
    background: -ms-linear-gradient(left, #f94931 0%,#f7a72e 50%,#f4e730 100%);
    background: linear-gradient(to right, #f94931 0%,#f7a72e 50%,#f4e730 100%);
    padding: 15px 2%;
    box-sizing: border-box;

    h1 {
       display: inline-block;
       font-family: 'Montserrat', sans-serif;
       font-size: 3em;
       padding: 0;
       margin: 0;
    }

    .btn-group { float: right; }

    .loser-btn {
      border-color: #fff;
      background-color: transparent;

      &:hover { border-color: #333; }
    }
}

main {
    width: 100%;
    height: 100%;
    padding: 0 2%;
    margin: 0;
    box-sizing: border-box;

    &:before {
      content: "";
      width: 125%;
      height: 125%;
      background-image: url('/images/weights.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      top: -25%;
      right: -25%;
      left: -25%;
      position: fixed;
      z-index: -1;
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
}

.loser-modal {
    .new-loser-name { width: 100%; }
    .input-group { margin-bottom: 15px; }
}

.loser-section {
    width: 100%;
    background: #fff;
    color:  #f94931;
    padding: 15px;
    margin: 15px 0;
    box-sizing: border-box;
    zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after { clear: both; }
}

.rounded { border-radius: 6px !important; }

.loser-list-item {
    width: 33%;
    font-family: 'Rock Salt', cursive;
    float: left;
    padding: 1em;
    box-sizing: border-box;

    .add-data-icon {
      cursor: pointer;
    }
}

.loser-diff {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: .85em;
  color: #333;
  padding-left: 10px;

  .up { color: #fa0532; }

  .down { color: #0cf520; }

  .up, .down {
    top: 2px;

    ~ .figure { margin-left: -6px; }
  }
}

.loser-avatar {
    width: 200px;
    height: 200px;
    display: inline-block;

    &.small {
        width: 50px;
        height: 50px;
    }
}

.bmi-printout {
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0 .8em 0;
    display: block;
    text-align: center;
}

.loser-graph {
  width: 100%;
  background: hsla(36, 93%, 57%, 1);
  background: -moz-linear-gradient(top, hsla(36, 93%, 57%, 1) 0%, hsla(36, 93%, 45%, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsla(36, 93%, 57%, 1)), color-stop(100%, hsla(36, 93%, 45%, 1)));
  background: -webkit-linear-gradient(top, hsla(36, 93%, 57%, 1) 0%, hsla(36, 93%, 45%, 1) 100%);
  background: -o-linear-gradient(top, hsla(36, 93%, 57%, 1) 0%, hsla(36, 93%, 45%, 1) 100%);
  background: -ms-linear-gradient(top, hsla(36, 93%, 57%, 1) 0%, hsla(36, 93%, 45%, 1) 100%);
  background: linear-gradient(to bottom, hsla(36, 93%, 57%, 1) 0%, hsla(36, 93%, 45%, 1) 100%);
  padding: 15px;
  margin: 15px 0;
  display: block;
  align: center;
  box-sizing: border-box;
}
