.faw-icon {
  padding: 0.2em;
  border: {
    width: 1px;
    style: solid;
    color: rgba(0, 0, 0, 1);
  };
  border-radius: 1.4em;
}

.input-group-addon {
  &.post { width: 40px; }
}

.loser-avatar {
  width: 200px;
  height: 200px;
  display: inline-block;

  &.small {
    width: 50px;
    height: 50px;
  }
}

.bmi-printout {
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  padding: .8em 0;
  display: block;
  text-align: center;
}
