<section data-ng-if="$selectedLoser" class="loser-section selected-loser rounded">
  <loser-avatar data-loser="$selectedLoser"></loser-avatar>
  <h2>{{$selectedLoser.name}}</h2>
  <span>Height: {{$selectedLoser.height}}cm</span>
  <span>Starting Weight: {{$selectedLoser.startWeight.kg}}kg</span>
  <span>Starting BMI: {{$selectedLoser.startWeight.bmi | number: 1}}</span>
  <span data-ng-repeat="weight in $selectedLoser.weights" title="BMI: {{weight.bmi | number: 1}}">
    <span><b>{{weight.kg}}</b></span>
    <span class="loser-diff">{{weight.diff}}%</span>
  </span>
  <span class="glyphicon glyphicon-remove close-button" data-ng-click="deselectLoser()" aria-labelledby="selectedLoserCloseButton">
    <label id="selectedLoserCloseButton">Close</label>
  </span>
</section>
